body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /*font-family: Arial, sans-serif;*/
    /* отступ, чтобы компенсировать высоту навбара */
    background: #e1e7ed;
    text-align: center;
}


.container {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
}


.button {
    width:  298px;
	height: 50px;
	color: white;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
    justify-content: space-around;
	border-radius: 5px;
    border: #7e8287 solid 1px;
	line-height: 50px;
}
.accept {
    background: crimson;
}
.cancel {
    background: #7e8287;
}

.button:hover {
    background: brown;
    color: white;
}

.cancel:hover {
    background: #33363b;
    color: white;
}
.pre {
    white-space: pre-wrap;
}

.error {
    font-weight: bold;
    color: red;
    margin-top: 2px;
}

.quote-v1 {
	border: solid 3px gray;
	border-radius: 25px;
	background-color: #FFFAF0;
}

.hidden {
    display: none;
}
